<section class="contacts">
  <div class="container contacts__wrapper">
    <div class="contacts__img_wrapper">
      <img src="../img/contact-section.jpg" alt="nails" />
    </div>
    <div class="contacts-form__wrapper">
      <h2>Contact Our Salon</h2>
      <p>give us a call to schedule a treatment (123) 675 5656</p>
      <!-- CHECK -->
      <form name="callback__form" autocomplete="on" novalidate>
        <input type="email" name="email" placeholder="Enter email address" />
        <button type="submit">Submit</button>
      </form>
    </div>
  </div>
</section>
