<section class="contacts">
  <div class="container contacts__wrapper">
    <div class="contacts__img_wrapper">
      <img src="../img/contact-section.jpg" alt="nails" class="contact__img" />
    </div>
    <div class="contacts-form__wrapper">
      <h2 class="contact-form__title">Contact Our Salon</h2>
      <p class="contact-form__text">give us a call to schedule a treatment</p>
      <p class="contact-form__text contact-form__text_fix">(123) 675 5656</p>
      <!-- CHECK -->
      <form name="callback" autocomplete="on" novalidate class="callback__form">
        <input
          type="email"
          name="email"
          placeholder="Enter email address"
          class="form_input"
        />
        <button type="submit" class="class="form_submite"">Subscribe</button>
      </form>
    </div>
  </div>
</section>
