<header class="header">
  <div class="container header__container">
    <svg class="header__logo">
      <use href="../img/symbol-defs.svg#icon-main-logo"></use>
    </svg>
    <div class="header__wrapper">
      <nav class="header__nav">
        <ul class="header__navlist">
          <li class="header__listitem"><a href="#">Home</a></li>
          <li class="header__listitem"><a href="#">About</a></li>
          <li class="header__listitem"><a href="#">Products</a></li>
          <li class="header__listitem"><a href="#">Contact</a></li>
        </ul>
      </nav>
      <button class="header__button">Work examples</button>
    </div>
  </div>
</header>
