<header class="header">
  <div class="container header__container">
    <p class="header__logo-sec">nails.tatty.od</p>
    <div class="header__wrapper">
      <nav class="header__nav">
        <ul class="header__navlist">
          <li class="header__listitem">
            <a class="header__link" href="#">Home</a>
          </li>
          <li class="header__listitem">
            <a class="header__link" href="#">About</a>
          </li>
          <li class="header__listitem">
            <a class="header__link" href="#">Products</a>
          </li>
          <li class="header__listitem">
            <a class="header__link" href="#">Contact</a>
          </li>
        </ul>
      </nav>
      <button class="header__button">Work examples</button>
    </div>
  </div>
</header>
