<section class="hero">
  <div class="container">
    <h1 class="hero__logo">Our services</h1>
    <ul>
      <li>
        <svg class="hero__svg" width="125" height="113">
          <use href="../img/symbol-defs.svg#icon-first-img"></use>
        </svg>
        <p class="hero__title">Nail Care</p>
        <p class="hero__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
      </li>
      <li>
        <svg class="hero__svg" width="143" height="163">
          <use href="../img/symbol-defs.svg#icon-second-img"></use>
        </svg>
        <p class="hero__title">Nail Art</p>
        <p class="hero__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
      </li>
      <li>
        <svg class="hero__svg" width="112" height="122">
          <use href="../img/symbol-defs.svg#icon-third-img"></use>
        </svg>
        <p class="hero__title">Tips & Trends</p>
        <p class="hero__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
      </li>
    </ul>
  </div>
</section>
