<section class="our-section">
  <div class="container">
    <!-- Check img heights/widths -->
    <img
      src="../img/svg-two.svg"
      class="our-section__img"
      height="490"
      alt="abstraction"
    />
    <img
      src="../img/oursection-img.jpg"
      class="our-section__img"
      height="719"
      alt="nails"
    />
    <img
      src="../img/svg-one.svg"
      class="our-section__img"
      height="468"
      alt="abstraction"
    />
    <img
      src="../img/oursection-img-two.jpg"
      class="our-section__img"
      height="725"
      alt="nails"
    />
    <h2 class="our-section__title">Our Story</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna. Enim facilisis gravida neque
      convallis a cras semper
    </p>
    <p>Always Clean</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, seddo.</p>
    <p>Always Leading And Ethical</p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita
      consequuntur facilis
    </p>
  </div>
</section>
