<section class="our-section">
  <div class="container our-section__wrapper">
    <!-- Check img heights/widths -->
    <!-- 
    <div class="our-section__img-wrapper"> -->
    <!-- <img
        src="../img/svg-two.svg"
        class="our-section__first-img"
        height="490"
        alt="abstraction"
      /> -->
    <img
      src="../img/oursection-img.jpg"
      class="our-section__second-img"
      height="704"
      alt="nails"
    />
    <!-- <img
        src="../img/svg-one.svg"
        class="our-section__third-img"
        height="468"
        alt="abstraction"
      /> -->
    <div class="img-fix">
      <img
        src="../img/oursection-img-two.jpg"
        class="our-section__fourth-img"
        height="438"
        width="373"
        alt="nails"
      />
    </div>
    <!-- </div> -->

    <div class="our-section__textWrapper">
      <h2 class="our-section__title">Our Story</h2>
      <p class="our-section__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna. Enim facilisis gravida
        neque convallis a cras semper
      </p>
      <p class="our-section__text_mod">Always Clean</p>
      <p class="our-section__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, seddo.
      </p>
      <p class="our-section__text_mod">Always Leading And Ethical</p>
      <p class="our-section__text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita
        consequuntur facilis
      </p>
    </div>
  </div>
</section>
