<section class="price-section">
  <div class="container price-section__wrapper">
    <div class="price-section__box">
      <h2 class="price-section__title">Treatments & Prices</h2>
      <ul class="price-section__list">
        <li class="price-section__item">
          <div class="flex-box-fix">
            <p class="price-section__service">Manicure</p>
            <p class="price-section__service-info">Elementum tempus egestas</p>
          </div>

          <p class="price-section__price">$18.00</p>
        </li>
        <li class="price-section__item">
          <div class="flex-box-fix">
            <p class="price-section__service">Hand/nail Moisturizer</p>
            <p class="price-section__service-info">
              Scelerisque in dictum non consectetur
            </p>
          </div>

          <p class="price-section__price">$50.00</p>
        </li>
        <li class="price-section__item">
          <div class="flex-box-fix">
            <p class="price-section__service">Nail Clippers</p>
            <p class="price-section__service-info">
              Nisl suscipit adipiscing bibendum ultricies
            </p>
          </div>

          <p class="price-section__price">$20.00</p>
        </li>
        <li class="price-section__item">
          <div class="flex-box-fix">
            <p class="price-section__service">Manicure & Padicure</p>
            <p class="price-section__service-info">Aenean et tortor</p>
          </div>

          <p class="price-section__price">$30.00</p>
        </li>
      </ul>
    </div>
    <div class="price-img__box">
      <img
        src="../img/price-img.jpg"
        class="price-section__img"
        alt="example"
      />
    </div>
  </div>
</section>
