<section class="price-section">
  <div class="container">
    <h2 class="price-section__title">Treatments & Prices</h2>
    <ul>
      <li>
        <p>Manicure</p>
        <p>$18.00</p>
        <p>Elementum tempus egestas</p>
      </li>
      <li>
        <p>Hand/nail Moisturizer</p>
        <p>$50.00</p>
        <p>Scelerisque in dictum non consectetur</p>
      </li>
      <li>
        <p>Nail Clippers</p>
        <p>$20.00</p>
        <p>Nisl suscipit adipiscing bibendum ultricies</p>
      </li>
      <li>
        <p>Manicure & Padicure</p>
        <p>$30.00</p>
        <p>Aenean et tortor</p>
      </li>
    </ul>
    <img src="../img/price-img.jpg" height="731" alt="example" />
  </div>
</section>
