<section class="promo">
  <div class="container">
    <img src="../img/c1.jpg" class="promo__img" alt="c1" />
    <img src="../img/c2.jpg" class="promo__img" alt="c2" />
    <img src="../img/c3.jpg" class="promo__img" alt="c3" />
    <img src="../img/c4.jpg" class="promo__img" alt="c4" />
    <img src="../img/c5.jpg" class="promo__img" alt="c5" />
    <img src="../img/c6.jpg" class="promo__img" alt="c6" />
    <img src="../img/c7.jpg" class="promo__img" alt="c7" />
    <img src="../img/c8.jpg" class="promo__img" alt="c8" />
    <img src="../img/c9.jpg" class="promo__img" alt="c9" />
    <img src="../img/c10.jpg" class="promo__img" alt="c10" />
    <div class="promo__wrapper">
      <svg class="promo__svg">
        <use href="../img/symbol-defs.svg#icon-instagram"></use>
      </svg>
      <p class="promo__text">follow us</p>
    </div>
  </div>
</section>
