.contacts__wrapper {
  padding-left: 240px;
  padding-right: 240px;
  padding-top: 150px;
  background-color: var(--main-background-color);

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.contacts-form__wrapper {
  max-width: 500px;
  padding-bottom: 13px;
  border-bottom: 3px solid #aba195;
}
