.promo {
  height: 900px;
  background-color: var(--main-background-color);
}

.img__board {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
}
.pormo__img-wrapper {
  width: 388px;
  height: 450px;
}
.promo__img {
  width: 100%;
  height: 100%;
}
