/* Reset styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  margin: 0;
}

/* //==================== FONTS ======================= */
@font-face {
  font-family: 'Inter-Bold';
  font-weight: 700;
  src: url('../fonts/Inter-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter-SemiBold';
  font-weight: 600;
  src: url('../fonts/Inter-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat-Regular';
  font-weight: 400;
  src: url('../fonts/Montserrat-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Montserrat-SemiBold';
  font-weight: 600;
  src: url('../fonts/Montserrat-SemiBold.ttf') format('truetype');
}
